body {
    background-color: rgba(255, 0, 64, 0);
}
p {
    color: red;
    width: 500px;
    border: 1px solid black;
  }
p {
    color: rgba(110, 218, 245, 0.795);
    p, li, h1, h2{
        color: red;
      }
}
